apiVersion: apps/v1
kind: Deployment
metadata:
  name: fake-ns-database-deployment-vitaflow
  namespace: fake-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      database: vitaflow

  template:
    metadata:
      labels:
        database: vitaflow
    spec:
      containers:
        - name: postgres
          image: postgres:17
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: fake-ns-database-secret-vitaflow
            - configMapRef:
                name: fake-ns-database-configmap-vitaflow
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: fake-ns-database-pvc-vitaflow
